body {
    background-color: #131a22; /* Dark blue background for a nightly theme */
    color: #ffffff; /* White text color for better visibility */
    font-family: Arial, sans-serif; /* Optional: sets a nice, readable font */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

input, button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input {
    width: 200px;
}

button {
    background-color: #204969; /* Darker shade for button to fit the nightly theme */
    color: #ffffff; /* White text for the button */
    cursor: pointer;
}

#fenInput {
    color: #000; /* Ensure input text is black for readability */
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 1px;
}

.white, .black {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: #d2a5a5;
}

.black {
    background-color: #916b6b;
}

span {
    font-size: 46px; /* Increased font size for larger pieces */
    display: inline-block;
}

#boardControls {
    margin-top: 20px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

#boardControls label {
    margin-right: 10px;
    color: #ffffff; /* Adjust based on your theme */
}

#flipToggle {
    transform: scale(1.5); /* Makes the toggle larger */
    cursor: pointer;
}
